#logo {
    margin-top: 10px;
}

#logo-name {
    margin-left: 10px;
}

#search-bar {
    margin-left: 150px;
}

.links {
    color: white;
    margin-left: 20px;
}

#add-product-span {
    text-decoration: underline;
    margin-left: 20px;
}

#login-btn {
    margin-left: 700px;
}

#logout-btn {
    background-color: rgb(255, 0, 106);
    margin-left: 20px;
}

#login-modal, #register-modal, #product-modal {
    text-align: center;
}

#lock-icon {
    color: rgb(255, 0, 106);
}


#modal-login-btn, .login-modal-form, .register-modal-form, #modal-register-btn, .add-product-modal-form, #modal-product-btn {
    width: 100%;
    margin-top: 10px;
}

#no-account-link, #account-link {
    margin-top: 20px;
}

#copyright {
    margin-top: 40px;
}